<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand text-white" >CODECHEF VIRTUAL CONTEST</a>
    <a href="//logout" ><button class="btn btn-outline-light">Logout</button></a>
</nav>
<br>