<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeChef VC</title>
</head>
<body>
    <h1> CodeChef Virtual Contest App</h1>
    <h3>OAuth Done!</h3>
    <button> <a href="contestlist"> Fetch Contest List! </a></button>
</body>
</html>