<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body class="bg-dark" style="text-align: center;">
    <nav class="navbar navbar-light bg-dark ">
        <h2 class="text-white" href="#">CODECHEF VIRTUAL CONTEST</h2>
        <a href="http://localhost:3000/logout" ><button class="btn btn-outline-light">Logout</button></a>
    </nav>
    <h3 class="text-white">Authorization Successful!</h3>
    <a href="contestlist"><button class="btn btn-outline-light" >Show Contest List! </button></a>
</body>
</html>