<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeChef VC</title>
</head>
<body>
    <h1> CodeChef Virtual Contest App</h1>
    <h3>OAuth FAILED!</h3>
    <div class="container w-100 my-5">
        <button type="button" href="/" class="d-block btn btn-dark mx-auto border border-light">Retry Login</button>
    </div>
</body>
</html>