<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body class="bg-dark">
    <nav class="navbar navbar-light justify-content-center bg-dark">
      <h1 class="text-white" href="#">CODECHEF VIRTUAL CONTEST</h1>
    </nav>
    <div class="container w-100 my-5">
      <button type="button" onclick="redirectMe()" class="d-block btn btn-dark mx-auto border border-light">LOGIN WITH CODECHEF</button>
    </div>
  </body>
<script>
    const getClientId = '<%= client_id %>';
    const getRedirectURI = '<%= redirectURI %>';
    function redirectMe() {
        var params = {
            response_type: 'code',
            client_id: getClientId,
            state: 'xyz',
            redirect_uri: getRedirectURI
        };

        var esc = encodeURIComponent;
        var query = Object.keys(params).map(k => esc(k) + '=' + esc(params[k])).join('&');
        window.location.replace('https://api.codechef.com/oauth/authorize?' + query);
    };
</script>

</html>