<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/header') %>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <body class="bg-dark text-white">
        <nav class="navbar navbar-light justify-content-center bg-dark">
            <h6 class="text-white" href="#">CODECHEF VIRTUAL CONTEST</h6>
        </nav>
        <br>
        <div class="container"> 
            <h1 class="text-white">
            <%= problemName %>
            </h1>
            <p class="text-white " id="problem-statement"><%- body %></p>
        </div>
    </body>
    <script>
        var converter = new showdown.Converter();
        console.log(document.getElementById('problem-statement').innerHTML);
        var html1 = converter.makeHtml(document.getElementById('problem-statement').innerHTML);
        console.log(html1);
        document.getElementById('problem-statement').innerHTML = html1;
    </script>
</html>