<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

    <body class="bg-dark">
        <nav class="navbar navbar-light justify-content-center bg-dark">
            <h6 class="text-white" href="#">CODECHEF VIRTUAL CONTEST</h6>
        </nav>
        <br>
        <div class="container"style="text-align: center"> 
            <h3 class="text-white">
                <%= problemName %>
            </h3>
            <p class="text-white">
            <%- body %>
            </p>
        </div>
    </body>
</html>