<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/header') %>
    <body class="bg-dark text-white justify-content-center">
            <nav class="navbar navbar-light bg-dark ">
                    <h2 class="text-white" href="#">CODECHEF VIRTUAL CONTEST</h2>
                    <a href="http://localhost:3000/logout" ><button class="btn btn-outline-light">Logout</button></a>
                </nav>
        <br>
        <div class="container"> 
            <h1 class="text-white">
            <%= problemName %>
            </h1>
            <p class="text-white " id="problem-statement"><%- body %></p>
        </div>
        <div class="container justify-content-center">
        <button class="btn btn-outline-light"><a href="https://www.codechef.com/submit/<%= problemCode %>">Submit on codechef</a></button>
        </div>
    </body>
    <script>
        var converter = new showdown.Converter();
        converter.setOption('omitExtraWLInCodeBlocks', true);
        converter.setOption('noHeaderId', true);
        converter.setOption('parseImgDimensions', true);
        converter.setOption('simplifiedAutoLink', true);
        converter.setOption('literalMidWordUnderscores', true);
        converter.setOption('strikethrough', true);
        converter.setOption('tables', true);
        converter.setOption('tablesHeaderId', false);
        converter.setOption('ghCodeBlocks', true);
        converter.setOption('tasklists', true);
        converter.setOption('smoothLivePreview', true);
        converter.setOption('prefixHeaderId', false);
        converter.setOption('disableForced4SpacesIndentedSublists', false);
        converter.setOption('ghCompatibleHeaderId', true);
        converter.setOption('smartIndentationFix', false);
        
        console.log(document.getElementById('problem-statement').innerHTML);
        var html1 = converter.makeHtml(document.getElementById('problem-statement').innerHTML);
        console.log(html1);
        document.getElementById('problem-statement').innerHTML = html1;
    </script>
</html>